<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <!-- hemos creado un servidor estático para css y se importa a través de la ruta local -->
    <link rel="stylesheet" href="http://localhost:4000/main.css" />
  </head>
  <body>
    <li class="card">
      <img class="card__img" src="<%=image%>" />
      <h3 class="card__title"><%=title%></h3>
      <p class="card__description"><%=gender%></p>
    </li>
  </body>
</html>
